<div class="login-container">
  <div class="login-image-side hidden lg:block">
    <div class="marvel-overlay">
      <div class="marvel-logo">
        <img src="/iron-marvel.png" alt="Marvel Logo" />
      </div>
    </div>
  </div>

  <div class="login-form-side">
    <div class="login-form-container">
      <div class="login-logo">
        <app-logo-marvel-fans textColor="#000" />
      </div>

      <div class="login-form-title">
        <h3>REGISTRATE</h3>
      </div>

      <form
        [formGroup]="registerForm"
        (submit)="onSubmitRegister()"
        class="mt-5"
      >
        <div class="field">
          <p-floatlabel variant="in">
            <input
              pInputText
              id="over_label"
              autocomplete="off"
              [fluid]="true"
              formControlName="name"
            />
            <label for="over_label">Nombre</label>
          </p-floatlabel>
          @if(registerForm.get('name')?.errors &&
          (registerForm.get('name')?.touched ||
          registerForm.get('name')?.dirty)) {
          <small
            class="field-validation-error"
            *ngIf="registerForm.get('name')?.errors?.['required']"
          >
            El nombre es requerido
          </small>
          }
        </div>

        <div class="field">
          <p-floatlabel variant="in">
            <input
              pInputText
              id="over_label"
              autocomplete="off"
              [fluid]="true"
              formControlName="identification"
            />
            <label for="over_label">Identidad</label>
          </p-floatlabel>
          @if(registerForm.get('identification')?.errors &&
          (registerForm.get('identification')?.touched ||
          registerForm.get('identification')?.dirty)) {
          <small
            class="field-validation-error"
            *ngIf="registerForm.get('identification')?.errors?.['required']"
          >
            El número de identificación es requerido
          </small>
          }
        </div>

        <div class="field">
          <p-floatlabel variant="in">
            <input
              pInputText
              id="over_label"
              autocomplete="off"
              [fluid]="true"
              formControlName="email"
            />
            <label for="over_label">Correo electrónico</label>
          </p-floatlabel>
          @if(registerForm.get('email')?.errors &&
          (registerForm.get('email')?.touched ||
          registerForm.get('email')?.dirty)) {
          <small
            class="field-validation-error"
            *ngIf="registerForm.get('email')?.errors?.['required']"
          >
            El correo electrónico es requerido
          </small>
          <small
            class="field-validation-error"
            *ngIf="registerForm.get('email')?.errors?.['email']"
          >
            El correo electrónico no es válido
          </small>
          }
        </div>

        <div class="field">
          <p-floatlabel variant="in">
            <p-password
              formControlName="password"
              inputId="on_label"
              [toggleMask]="true"
              [fluid]="true"
            />
            <label for="on_label">Contraseña</label>
          </p-floatlabel>
          @if(registerForm.get('password')?.errors &&
          (registerForm.get('password')?.touched ||
          registerForm.get('password')?.dirty)) {
          <small
            class="field-validation-error"
            *ngIf="registerForm.get('password')?.errors?.['required']"
          >
            La contraseña es requerida
          </small>
          <small
            class="field-validation-error"
            *ngIf="registerForm.get('password')?.errors?.['minlength']"
          >
            La contraseña debe tener al menos 6 caracteres
          </small>
          }
        </div>

        <button
          type="submit"
          label="REGISTRARSE"
          pButton
          class="primary-button w-full"
        ></button>
      </form>

      <div class="login-footer">
        <p>
          Ya tienes una cuenta?
          <a href="#" routerLink="/auth/sign-in"
            ><span class="redirect-sign-up-link">Inicia sesión</span></a
          >
        </p>
      </div>
    </div>
  </div>
  <p-toast />
</div>
