.discover-commics-container {
  width: 100%;
  max-width: calc(1200px - (var(--lateral-spacing-page) * 2));
  margin: 0 auto;
  padding: 0 var(--lateral-spacing-page);
}

.section-list-comics {
  margin-top: 2rem;
}
