<div class="discover-commics-container">
  <section class="section-list-comics">
    <h3 class="section-title">Lista de Comics</h3>
    <div class="mb-4">
      <p-inputgroup>
        <p-inputgroup-addon>
          <ng-icon name="bootstrapSearch" size="1.4rem"></ng-icon>
        </p-inputgroup-addon>
        <p-floatlabel variant="in">
          <input
            pInputText
            id="over_label"
            [(ngModel)]="value1"
            (ngModelChange)="onSearch($event)"
          />
          <label for="over_label">Buscar por nombre de comic</label>
        </p-floatlabel>
      </p-inputgroup>
    </div>

    @if (comics.length > 0) {
    <div class="mt-4 mb-4">
      <p-paginator
        [first]="pagination.offset"
        [rows]="pagination.limit"
        [totalRecords]="pagination.total"
        [rowsPerPageOptions]="[10, 20, 30]"
        (onPageChange)="onPageChange($event)"
      />
    </div>
    }

    <app-list-of-comics [comics]="comics" />
    @if (comics.length > 0) {
    <div class="mt-4">
      <p-paginator
        [first]="pagination.offset"
        [rows]="pagination.limit"
        [totalRecords]="pagination.total"
        [rowsPerPageOptions]="[10, 20, 30]"
        (onPageChange)="onPageChange($event)"
      />
    </div>

    }
  </section>
</div>
