<div class="login-container">
  <div class="login-image-side hidden lg:block">
    <div class="marvel-overlay">
      <div class="marvel-logo">
        <img src="/captain-america.png" alt="Marvel Logo" />
      </div>
    </div>
  </div>

  <div class="login-form-side">
    <div class="login-form-container">
      <div class="login-logo">
        <app-logo-marvel-fans textColor="#000" />
      </div>

      <div class="login-form-title">
        <h3>INICIA SESIÓN</h3>
      </div>

      <form [formGroup]="loginForm" (submit)="onSubmitLogin()" class="mt-5">
        <div class="field">
          <p-floatlabel variant="in">
            <input
              pInputText
              id="over_label"
              autocomplete="off"
              [fluid]="true"
              formControlName="email"
            />
            <label for="over_label">Correo electrónico</label>
          </p-floatlabel>
          @if(loginForm.get('email')?.errors && (loginForm.get('email')?.touched
          || loginForm.get('email')?.dirty)) {
          <small
            class="field-validation-error"
            *ngIf="loginForm.get('email')?.errors?.['required']"
          >
            El correo electrónico es requerido
          </small>
          <small
            class="field-validation-error"
            *ngIf="loginForm.get('email')?.errors?.['email']"
          >
            El correo electrónico no es válido
          </small>
          }
        </div>

        <div class="field">
          <p-floatlabel variant="in">
            <p-password
              formControlName="password"
              [feedback]="false"
              inputId="on_label"
              [toggleMask]="true"
              [fluid]="true"
            />
            <label for="on_label">Contraseña</label>
          </p-floatlabel>
          @if(loginForm.get('password')?.errors &&
          (loginForm.get('password')?.touched ||
          loginForm.get('password')?.dirty)) {
          <small
            class="field-validation-error"
            *ngIf="loginForm.get('password')?.errors?.['required']"
          >
            La contraseña es requerida
          </small>
          }
        </div>

        <button
          type="submit"
          label="INICIAR SESIÓN"
          pButton
          class="primary-button w-full"
        ></button>
      </form>

      <div class="login-footer">
        <p>
          No tienes una cuenta?
          <a routerLink="/auth/sign-up"
            ><span class="redirect-sign-up-link">Regístrate</span></a
          >
        </p>
      </div>
    </div>
  </div>
  <p-toast />
</div>
