footer {
  background-color: var(--color-menu-background); /* Fondo negro */
  color: white; /* Texto blanco */
  padding: 20px 0; /* Espaciado del footer */
  border-top: 4px solid var(--color-primary);
}

footer .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

footer .logo-text {
  font-weight: bold;
  border-top: 4px solid var(--color-white);
  border-bottom: 4px solid var(--color-white);
  font-size: 1.5rem !important;
  text-transform: uppercase;
}

.footer-container {
  display: flex;
  flex-direction: column; /* Alineación vertical */
  justify-content: center;
  align-items: center;
  text-align: center;
}

.marvel-logo {
  width: 150px; /* Ajusta el tamaño del logo */
  margin-bottom: 10px;
}

.marvel-info {
  color: white;
  font-size: 18px;
  text-decoration: none;
  margin-top: 10px;
  text-decoration: underline;
  text-decoration-thickness: 2px;
}

.marvel-info:hover {
  text-decoration: underline; /* Efecto hover */
}
