<div class="comic-card">
  <div class="comic-image-container">
    <img
      [src]="comic.thumbnail.path + '.' + comic.thumbnail.extension"
      [alt]="comic.title"
      class="comic-image" />
    <button
      type="button"
      class="favorite-button"
      pButton
      (click)="onHandleFavorite(comic)"
      pTooltip="Agregar a favoritos"
      tooltipPosition="top">
      <ng-icon name="bootstrapHeartFill"></ng-icon>
    </button>
  </div>
  <div class="comic-info">
    <div class="flex-1">
      <h4 class="comic-title line-clamp-1" [title]="comic.title">
        {{ comic.title }}
      </h4>
      <div class="comic-details">
        @if (comic.prices && comic.prices.length > 0) {
          <span class="comic-price"
            >${{ comic.prices[0].price | appendCurrency: 'USD' }}</span
          >
        }
        <span class="comic-pages">{{ comic.pageCount }} páginas</span>
      </div>
      @if (comic.creators) {
        <div class="comic-creators">
          @if (comic.creators.items && comic.creators.items.length > 0) {
            <span>Autor: {{ comic.creators.items[0].name }}</span>
          } @else {
            <span>Autor: Sin Información</span>
          }
        </div>
      }
    </div>
    <div>
      <button
        type="submit"
        label="VER DETALLES"
        pButton
        class="primary-button w-full"
        (click)="showDetails(comic)"></button>
    </div>
  </div>
</div>
