:root {
  --primeng-theme-progressspinner-color-one: var(--color-primary) !important;
  --primeng-theme-progressspinner-color-two: var(--color-primary) !important;
  --primeng-theme-progressspinner-color-three: var(--color-primary) !important;
  --primeng-theme-progressspinner-color-four: var(--color-primary) !important;
}
