<section class="banner">
  <div class="banner-container">
    <div class="banner-content">
      <div class="hero-image">
        <!-- You can replace this with an actual image -->
        <img src="/characters-marvel.png" alt="Superman" width="800" />
      </div>
      <div class="hero-info">
        <div class="hero-title">
          <h2>MARVEL HEROES</h2>
        </div>
        <div class="hero-description">
          <p>
            Regístrate y accede a cómics exclusivos de tus héroes favoritos.
            Guarda tus historias preferidas, mantente al día con las últimas
            aventuras y comparte tu pasión por Marvel. ¡Este es el lugar para
            todo Marvel fan que quiera vivir la acción y la emoción de los
            cómics!
          </p>
        </div>
        <div class="navigation-arrow">
          <a href="#"><i class="fa fa-arrow-right"></i></a>
        </div>
      </div>
      <button class="register-now-button">
        <ng-icon name="bootstrapArrowUpRightCircle" size="1.4rem"></ng-icon>
        REGISTRATE AHORA
      </button>
    </div>
  </div>
</section>
