:host {
  flex: 1;
}

.home-content {
  width: 100%;
  max-width: calc(1200px - (var(--lateral-spacing-page) * 2));
  margin: 0 auto;
  padding: 0 var(--lateral-spacing-page);
  margin-top: 8rem;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--color-primary);
}
