:root {
  --color-primary-50: #f5cccc;
  --color-primary-100: #f1a3a1;
  --color-primary-200: #ed7b77;
  --color-primary-300: #e5534d;
  --color-primary-400: #f35156; /* Este es el 500 fijo */
  --color-primary-500: #c43135; /* Color base */
  --color-primary-600: #9e2d2a;
  --color-primary-700: #7a1e1b;
  --color-primary-800: #660f0c;
  --color-primary-900: #4f0907;

  --color-primary: var(--color-primary-500);

  --color-secondary-50: #f9f2b3;
  --color-secondary-100: #f9e200;
  --color-secondary-200: #d8c300;
  --color-secondary-300: #b0a100;
  --color-secondary-400: #8f8a00;
  --color-secondary-500: #6f6b00;
  --color-secondary-600: #4f4a00;
  --color-secondary-700: #3e3a00;
  --color-secondary-800: #2e2a00;
  --color-secondary-900: #1d1a00;

  --color-secondary: var(--color-secondary-100);

  --color-gray-50: #f5f5f5;
  --color-gray-100: #e0e0e0;
  --color-gray-200: #d0d0d0;
  --color-gray-300: #c0c0c0;
  --color-gray-400: #b0b0b0;
  --color-gray-500: #cfcfcf;
  --color-gray-600: #a0a0a0;
  --color-gray-700: #909090;
  --color-gray-800: #707070;
  --color-gray-900: #505050;

  --color-gray: var(--color-gray-500);

  --color-accent: #151515; /* Marvel Black */
  --color-background: #ffffff; /* Marvel White */
  --color-text: #333;
  --color-menu-background: #151515; /* Marvel Black */
  --color-menu-text: #ffffff;
  --color-marvel-blue: #4d58a0;

  --font-size-h1: 2.5rem;
  --font-size-h2: 2rem;
  --font-size-h3: 1.75rem;
  --font-size-h4: 1.5rem;
  --font-size-h5: 1.25rem;
  --font-size-h6: 1.15rem;

  --font-size-paragraph: 1rem;
  --font-size-small-paragraph: 0.875rem;
  --font-size-large-paragraph: 1.125rem;

  --font-size-span: 0.875rem;
  --font-size-caption: 0.75rem;

  --font-size-button: 1rem;
  --font-size-link: 1rem;
  --font-size-subtitle: 1.25rem;
  --font-size-code: 0.875rem;

  --font-size-body: 1rem;
  --font-size-lead: 1.125rem;
}
