<header>
  <div class="header-container">
    <app-logo-marvel-fans />
    <nav class="navigation lg:block hidden">
      <app-main-nav />
    </nav>
    <div class="user-actions">
      @if (sessionUser) {
      <app-user-logged-panel />
      } @else {
      <button class="login-button" routerLink="/auth/sign-in">
        <ng-icon name="bootstrapArrowRightCircle" size="1.4rem"></ng-icon>
        Iniciar <span class="hidden lg:block">sesión</span>
      </button>
      }
    </div>
  </div>
  <div class="navigation-mobile">
    <nav class="navigation block lg:hidden">
      <app-main-nav />
    </nav>
  </div>
</header>
<div class="header-separator"></div>
