<header>
  <div class="header-container">
    <app-logo-marvel-fans />
    <nav class="navigation lg:block hidden">
      <ul>
        <li><a href="#">Inicio</a></li>
        <li class="flex items-center gap-1">
          <ng-icon name="bootstrapSearch" size="1.4rem"></ng-icon>
          <a href="#"> Descubrir</a>
        </li>
        <li><a href="#">Favoritos</a></li>
      </ul>
    </nav>
    <div class="user-actions">
      <button class="login-button" routerLink="/auth/sign-in">
        <ng-icon name="bootstrapArrowRightCircle" size="1.4rem"></ng-icon>
        Iniciar sesión
      </button>
    </div>
  </div>
</header>
<div class="header-separator"></div>
