/* Header Styles */
header {
  background-color: var(--color-menu-background);
  color: var(--color-menu-text);
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: calc(1200px - (var(--lateral-spacing-page) * 2));
  height: 100px;
  margin: 0 auto;
  padding: 0 var(--lateral-spacing-page);
}

.header-separator {
  height: 4px;
  background-color: var(--color-primary);
}

header .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

header .logo-text {
  font-weight: bold;
  border-top: 4px solid var(--color-white);
  border-bottom: 4px solid var(--color-white);
  font-size: 1.5rem !important;
  text-transform: uppercase;
}

.login-button {
  bottom: -20px;
  background-color: var(--color-primary);
  padding: 15px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1rem !important;
  transform: skew(-12deg);
  text-transform: uppercase;
  font-size: 0.9rem !important;
}

.login-button:hover {
  transform: skew(-12deg) scale(1.01);
  cursor: pointer;
  background-color: var(--color-primary-600);
}

.navigation-mobile {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: calc(1200px - (var(--lateral-spacing-page) * 2));
  padding: 0 var(--lateral-spacing-page);
  padding-bottom: 10px;
}
