@import "./app/presentation/theme/index.css";

body {
  font-family: "Sansation", sans-serif;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(202, 186, 186, 0.4) 100%
  );
}

button.primary-button {
  background-color: var(--color-primary) !important;
  color: var(--color-white);
  font-weight: 700 !important;
  font-size: 1rem !important;
  transform: skew(-12deg) !important;
  text-transform: uppercase;
  border-radius: 0 !important;
}

button.primary-button:hover {
  transform: skew(-12deg) scale(1.01);
  cursor: pointer;
  background-color: var(--color-primary-600) !important;
}

.section-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  height: 2px;
  background-color: var(--color-primary);
}

.field-validation-error {
  color: var(--color-primary);
  font-size: 0.9rem;
  font-weight: 700;
}
